:root {
  --White: #ffffff;
  --Light-Grey: #959eac;
  --Medium-Grey: #7c8798;
  --Dark-Blue: #252d37;
  --Very-Dark-Blue: #121417;
  --Orange: #fb7413;
}

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  background-color: #121417;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  height: 430px;
  background-color: var(--Dark-Blue);
  width: 500px;
  display: block;
  border-radius: 20px;
  margin-top: 50%;
}
.mlr {
  margin-left: 30px;
  margin-right: 30px;
}
.star-container {
  background-color: var(--Light-Grey);
  width: 60px;
  height: 60px;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}
.star-container img {
  width: 30px;
}
.content h1 {
  color: #ffffff;
  position: relative;
  top: 60px;
  font-size: 30px;
}
.content p {
  color: #ffffff;
  font-size: 18px;
  position: relative;
  top: 80px;
}
.rating-buttons {
  position: relative;
  top: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  border: 0;
}
.rating-buttons button:hover {
  background-color: #fb7413;
}
.rating-buttons button:focus {
  background-color: var(--Very-Dark-Blue);
}

.rating-buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--White);
  font-size: 18px;
  font-weight: 400;
  background-color: var(--Medium-Grey);
  border: 0;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
input {
  position: relative;
  top: 130px;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  background-color: #fb7413;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
}

/* thank you card */

.thank-you {
  display: flex;
  text-align: center;
  padding: 15px;
}
.thank-you img {
  position: relative;
  margin: 0 20px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.thank-you h2 {
  color: #ffffff;
}

.thank-you p {
  position: relative;
  top: 30px;
}
.again {
  position: relative;
  top: 60px;
  background-color: red;
  width: 100%;
  height: 40px;
  border: 0;
  color: #ffffff;
  background-color: #fb7413;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.selection {
  background-color: #121417;
  padding: 10px;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
  border-radius: 20px;
  letter-spacing: 1px;
}
.hidden {
  display: none;
}
